Repository FestiFriends/ff_frontend, pull requests merged in 2025-06, with the labels that each got.

#127 [Feature/issue-066] Tabs 컴포넌트 구현 및 테스트, 문서 작성
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/Tabs/Tabs.md
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/Tabs.tsx
Labels: documentation, components, test

#138 [Feature/issue-135]Report item 컴포넌트 구현 및 테스트, 문서
  src/components/ReportItem/ReportItem.md
  src/components/ReportItem/ReportItem.test.tsx
  src/components/ReportItem/ReportItem.tsx
  src/constants/reportLabels.ts
  src/types/enums.ts
  src/utils/reportResonEnumLabels.ts
Labels: documentation, components, test

#150 [Feature/issue-070] MultiSlider 구현, 테스트 코드 작성 및 문서화
  next.config.ts
  src/components/ButtonGroup/ButtonGroup.test.tsx
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/ButtonGroup/ButtonGroupMessage.tsx
  src/components/MultiSlider/MultiSlider.md
  src/components/MultiSlider/MultiSlider.test.tsx
  src/components/MultiSlider/MultiSlider.tsx
  src/components/poster/Poster.md
  src/components/poster/Poster.test.tsx
  src/components/poster/Poster.tsx
  src/hooks/useImageUploader/useImageUploader.md
  src/hooks/useImageUploader/useImageUploader.test.ts
  src/hooks/useImageUploader/useImageUploader.tsx
  src/lib/utils.ts
Labels: documentation, components, utill, test

#371 [Feature/issue-364] 신청서 목록 디자인 수정 반영 구현
  src/app/(hasGNB)/(isLogin)/groups/managements/page.tsx
  src/components/pages/groupsManagement/Application/Application.tsx
  src/components/pages/groupsManagement/ApplicationCard/ApplicationCard.tsx
  src/components/pages/groupsManagement/Applications.tsx
  src/components/pages/groupsManagement/AppliedGroups.tsx
  src/components/pages/groupsManagement/GroupsManagementsTabs.tsx
  src/hooks/groupsManagementsHooks/groupsManagementsHooks.ts
  src/services/groupsManagementsService.ts
  src/types/application.ts
  src/utils/date.ts
  src/utils/formatApplicationCardData.ts
  src/utils/formatApplicationData.ts
Labels: components, page, design

#380 [Feature/issue-372] 댓글 수정 모달 디자인으로 변경
  src/components/common/MessageInput/MessageInput.tsx
  src/components/common/TextareaInput/TextareaInput.tsx
  src/components/pages/groupDetail/CommentItem/CommentItem.tsx
  src/components/pages/groupDetail/CommentList/CommentList.tsx
  src/components/pages/groupDetail/PostDetailWrapper.tsx
Labels: components, page

#428 [Feature/issue-418] 모임 정보, 게시글 관련 기능 추가 및 리팩토링
  src/components/common/MessageInput/MessageInput.tsx
  src/components/common/TabBar/TabBar.tsx
  src/components/icons/EditIcon.tsx
  src/components/pages/groupDetail/GroupInfoCard/GroupInfoCard.tsx
  src/components/pages/groupDetail/GroupModal/GroupModal.tsx
  src/components/pages/groupDetail/GroupPosts.tsx
  src/components/pages/groupDetail/PinCheckbox/PinCheckbox.tsx
  src/components/pages/groupDetail/PostCard/PostCard.tsx
  src/components/pages/groupDetail/PostDetailWrapper.tsx
  src/components/pages/groupDetail/PostEditWrapper.tsx
  src/components/pages/groupDetail/PostFormWrapper.tsx
  src/components/pages/groupDetail/PostImageUploader/PostImageUploader.tsx
  src/components/pages/groupDetail/PostNotice/PostNotice.tsx
  src/components/pages/groupDetail/editGroup/EditGroupWrapper.tsx
  src/components/pages/groupDetail/editGroup/NormalLocationSelector.tsx
  src/components/pages/groupDetail/editGroup/NormalTagInput.tsx
  src/utils/date.ts
Labels: design, refactor

#455 [Feature/issue-431] 공연 상세, 모임 상세 페이지 이슈들 해결
  src/components/common/DatePicker/DatePickerWithQuery.tsx
  src/components/common/MoreDropdown/MoreDropdown.tsx
  src/components/common/Pagination/Pagination.tsx
  src/components/common/Tabs/Tabs.tsx
  src/components/common/index.ts
  src/components/icons/XIcon.tsx
  src/components/pages/groupDetail/Chat/ChatArea.tsx
  src/components/pages/groupDetail/Chat/ChatMessageInput.tsx
  src/components/pages/groupDetail/GroupBlurredContainer.tsx
  src/components/pages/groupDetail/GroupInfo.tsx
  src/components/pages/groupDetail/GroupInfoCard/GroupInfoCard.tsx
  src/components/pages/groupDetail/GroupModal/GroupModal.tsx
  src/components/pages/groupDetail/Members/MemberCard.tsx
  src/components/pages/groupDetail/Members/MemberDeleteModal.tsx
  src/components/pages/groupDetail/Members/MemberRoleModal.tsx
  src/components/pages/groupDetail/Members/MembersHeader.tsx
  src/components/pages/groupDetail/Members/MembersList.tsx
  src/components/pages/performanceDetail/CreateGroupButton.tsx
  src/components/pages/performanceDetail/GroupApplyModal.tsx
  src/components/pages/performanceDetail/PerformanceDetailGroupsList.tsx
  src/components/pages/performanceDetail/PerformanceDetailGroupsOptionTabs.tsx
  src/components/pages/performanceDetail/PerformanceDetailSummary.tsx
  src/components/pages/performanceDetail/filters/CalendarWithQuery.tsx
  src/components/pages/performanceDetail/filters/DatePickerModal.tsx
  src/components/pages/performanceDetail/filters/LocationModal.tsx
  src/components/pages/performanceDetail/filters/OptionDropdown.tsx
  src/hooks/chatHooks/chatHooks.ts
  src/hooks/groupHooks/groupHooks.ts
  src/utils/formatGroupOptions.ts
Labels: bug, components, utill, page, design, refactor

#511 [Bug/issue-509] robots.txt valid 이슈 해결
  src/app/robots.ts
  src/app/sitemap.ts
Labels: bug
